.git
.github
.env
data/
node_modules
Dockerfile*
docker-compose*
.dockerignore
.gitignore
.vscode
.idea
coverage*
*.md
.oxfmtrc.json
.oxlintrc.json
tsconfig.json
cliff.toml
renovate.json
# exclude the whole website except the package.json needed by the install stage
website/
!website/package.json
